

canvas {
  border: 1px solid black;
  border-radius: 10px
}

.row {
  width: 100%;
}

#can-con {
  max-width: none;
}

@media (min-width: 400px) {
  #can-con {
    margin: 20px;

  }
}

@media (min-width: 550px) {
  #can-con {
    margin: 20px;
  }
}



#draw {
    /* Prevent nearby text being highlighted when accidentally dragging mouse outside confines of the canvas */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.draw {
    float:left;
    width:220px;
    height:285px;
    padding:10px;
}

/*.canvas {
    float:left;
    margin-left:10px;
}*/
