canvas {
  border: 1px solid black;
  border-radius: 10px
}

.row {
  width: 100%;
}
@media (min-width: 400px) {
  #can-con {
    margin: 20px;
  }
}

@media (min-width: 550px) {
  #can-con {
    margin: 20px;
  }
}
.draw {
    padding:10px;
}
.popupDraw {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(166, 166, 237, 0.3);
  z-index: 99999;
  opacity:0;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}
.popupDraw:target {
  opacity:1;
  pointer-events: auto;
}
.popupDraw > div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #ffffff;
}
.close {
  background: #000000;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 12px;
}
.close:hover {
  background: #a6a6ed;
}

#black {
  display: inline-block;
  width: 29px;
  height: 20px;
  border: 0.5px solid;
  background: #000000
}

#green {
  display: inline-block;
  width: 29px;
  height: 20px;
  border: 0.5px solid #00cc00;
  background: #00cc00;
}

#violet {
  display: inline-block;
  width: 29px;
  height: 20px;
  border: 0.5px solid #ee82ee;
  background: #ee82ee;
}

#orange {
  display: inline-block;
  width: 29px;
  height: 20px;
  border: 0.5px solid #ffa500;
  background: #ffa500;
}

#blue {
  display: inline-block;
  width: 29px;
  height: 20px;
  border: 0.5px solid #0000ff;
  background: #0000ff;
}

#grey {
  display: inline-block;
  width: 29px;
  height: 20px;
  border: 0.5px solid #808080;
  background: #808080;
}

#red {
  display: inline-block;
  width: 29px;
  height: 20px;
  border: 0.5px solid #ff0000;
  background: #ff0000;
}

#yellow {
  display: inline-block;
  width: 29px;
  height: 20px;
  border: 0.5px solid #ffff00;
  background: #ffff00;
}

#indigo {
  display: inline-block;
  width: 29px;
  height: 20px;
  border: 0.5px solid #4b0082;
  background: #4b0082;
}

#white {
  display: inline-block;
  width: 29px;
  height: 20px;
  border: 0.5px solid;
  background: #ffffff;
}
